$blue: #81b3d2;
$grey: #b8b8b8;
$grey--light: #eee;
$grey--lighter: #f2f2f2;
$grey--dark: #d6d6d6;

$text-color: #333;
$text-color--light: #fff;

$font-family: "PT Sans", Arial, sans-serif;

$html-size-base: 10px;
$font-size: 1.4rem;
$line-height: 1.5;

$font-size--h1: 2.1rem;
$font-size--h2: 1.8rem;
$font-size--h3: 1.6rem;
$font-size--h4: 1.5rem;
$font-size--h5: $font-size;
$font-size--h6: $font-size;

$headings-weight: bold;
$headings-line-height: 26/18;

$text-transform: uppercase;
$facilities-icon-size: 40px;
$facilities: (hotel, souvenirs, food);