.features {
    
  display: flex;
  flex-direction: column;
  
  @media (min-width: $screen_tablet) {
    flex-direction: row;
    
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  
  text-transform: $text-transform;
  text-align: center;
  color: $text-color--light;

  background-color: $blue;
  
  &__item {
    position: relative;

    @media (min-width: $screen_tablet) {
      flex-basis: $basis / 2;
      flex-grow: 1;
    }

    
    &--text {
      padding: 45px 30px;
      
      @media (min-width: $screen_tablet) {
        padding: 45px 50px;
      }
      
      @media (min-width: $screen_desktop) {
        padding: 50px 50px;
      }
    }
    
    &--photo {
      position: relative;
      overflow: hidden;

      min-height: $basis;
      
      & img {
        position: absolute;
        @include centerHV;

        min-width: 100%;
        width: auto;
        height: auto;
        
        @media (min-width: $screen_tablet) {
          min-width: $screen_desktop - $basis;
        }
      }
      
      @media (min-width: $screen_tablet) {
        flex-grow: 3;
      }
    }
    
    &--masked-top {
      
      @media (max-width: $screen_tablet - 1) {
        padding-top: 60px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;

          @include size(100%, 37px);

          background-color: $blue;
          background-image: url("../img/page-title__bottom-mask.png");
          background-position: center;
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  
  &__header {
    margin-top: 0;
    margin-bottom: 15px;
    
    font-size: $font-size--h2;
    line-height: $headings-line-height;
    
    @media (min-width: $screen_tablet) {
      font-size: $font-size--h1;
    }
  }
  
  &__number {
    @include numbered-text;
    
    margin-bottom: 20px;
    
    line-height: 1;
        
    @media (min-width: $screen_tablet) {
      margin-bottom: 30px;
    }
  }
  
  &__text {
    margin: 0;
  }
}