$gallery-item-size: 70px;
$gallery-delete-btn-size: $gallery-item-size / 2 - 5px;

.gallery {

  &__list {
    @include list-init;
    font-size: 0;
    
    padding-top: 50px;
    padding-bottom: (50px - ($gallery-item-size / 2));
    
    @media (min-width: $screen_tablet) {
      padding-top: 60px;
      padding-bottom: 60px - ($gallery-item-size / 2);
    }
  }
  
  &__item {
    display: inline-block;
    position: relative;

    width: $gallery-item-size;
    
    margin-right: $gallery-item-size / 2;
    margin-bottom: $gallery-item-size / 2;
    
    font-size: $font-size;
    
    p {
      margin-bottom: 0;
    }
    
    @media (min-width: $screen_tablet) {
      width: $gallery-item-size * 2;
    }
  }
  
  &__photo {
    position: relative;
    overflow: hidden;
    
    display: block;
    
    @include size($gallery-item-size, $gallery-item-size);

    @media (min-width: $screen_tablet) {
      @include size($gallery-item-size*2, $gallery-item-size*2);
    }
    
    img {
      position: absolute;
      @include centerHV;
      
      display: block;
      width: auto;
      height: 100%;
      
    }
  }
  
  &__remove-item-link {
    position: absolute;
    left: 50%;
    top: 0;
    @include translateXY(-50%, -50%);
    overflow: hidden;
    
    display: block;
    @include size($gallery-delete-btn-size, $gallery-delete-btn-size);
    
    border-radius: 50%;
    
    @include iconed-button("../img/icon-delete.svg", 12px, 12px, double);
    
    @media (min-width: $screen_tablet) {      
      top: 0;
      right: 0;
      
      @include translateXY(50%, -50%);
      
      @include size($gallery-delete-btn-size*2, $gallery-delete-btn-size*2);
    }
  }
}