$menu-v-padding: 20px;

.main-navigation {
  position: relative;

  &__toggle {
    position: absolute;
    z-index: 2;

    top: 0;
    right: 0;

    display: block;
    width: 50px;
    height: $menu-v-padding * 2 + 1.8 * $html-size-base;

    background-image: url("../img/icon-menu.svg");
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    &--close {
      background-image: url("../img/icon-cross.svg");
    }

    @media (min-width: $screen_tablet) {
      display: none;
    }
  }


  &__list {
    @include list-init;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include colors($blue, $text-color--light);

    @media (min-width: $screen_tablet) {
      flex-direction: row;
      justify-content: space-around;

      @include colors($light, $text-color);
    }
  }


  &__item {
    margin: 0;
    padding: 0;

    a {
      display: block;

      padding-top: $menu-v-padding;
      padding-bottom: $menu-v-padding;

      font-family: $font-family;
      font-size: $font-size--h2;
      line-height: 1;
      font-weight: $headings-weight;
      color: $text-color--light;
      text-align: center;
      text-decoration: none;
      text-transform: $text-transform;

      @include transition;

      &:hover {
        background-color: $blue--hover;
      }

      &:active {
        color: fade-out($text-color--light, .7);
        background-color: $blue--active;
      }

      @media (min-width: $screen_tablet) {
        font-size: $font-size;
        color: $text-color;

        &:hover {
          color: $blue;
          background-color: $text-color--light;
        }

        &:active {
          color: rgba(0,0,0,.3);
          background-color: $text-color--light;
        }
      }
    }

    &--hidden {
      @media (max-width: $screen_tablet - 1) {
        display: none;
      }
    }

    // показываем границы до размера планшета
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(1,1,1,.2);

    @media (min-width: $screen_tablet) {
      flex-basis: $screen_tablet / 5;
      border: none;
    }
    
    @media (min-width: $screen_desktop) {
      flex-basis: $screen_desktop / 5;
    }

    &:first-child {
      border-top: none;
    }

    &:nth-last-child(1) {
      border-bottom: none;
      background-image: url("../img/menu-shadow.png");
      background-repeat: repeat-x;
      background-position: bottom;

      @media (min-width: $screen_tablet) {
        background: none;
      }
    }

    &--logo {
      position: relative;
      order: 3;

      overflow: visible;
      border: none;
      background-color: $text-color--light;

      a {
        position: relative;
        z-index: 1;
        @include centerH;
        
        width: 138px;
        
        padding: 0;

        &:hover {
          background-color: $text-color--light;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          @include centerH;
          display: block;

          @include size(138px, 72px);

          background-image: url("../img/form-logo-triangle.svg");
          background-repeat: no-repeat;
          background-size: auto;
        }
      }
    }

    &--state-map {
      @media (min-width: $screen_tablet) {
        order: 4;
      }
    }

    &--info {
      @media (min-width: $screen_tablet) {
        order: 1;
      }
    }

    &--photo-video {
      @media (min-width: $screen_tablet) {
        order: 2;
      }
    }

    &--hotels {
      @media (min-width: $screen_tablet) {
        order: 5;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    @include size(67px, 56px);
  }
}
