.pagination {
  
  padding: 37px 20px;
  
  border-top: 2px solid $borders;
  border-bottom: 2px solid $borders;
  
  @media (min-width: $screen_tablet) {
    display: flex;
    align-items: center;
    
    padding-bottom: 0;
    
    border: none;
  }
  
  @media (min-width: $screen_desktop) {
    justify-content: space-around;
    
    padding-left: 0;
    padding-right: 0;
  }
  
  &__header {
    display: none;
    
    @media (min-width: $screen_tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      
      margin-right: 70px;
    }
    
    @media (min-width: $screen_desktop) {
      flex-basis: 33%;
      margin-right: 0;
    }
    
    h1 {
      margin: 0;
      padding: 0;
      
      font-size: $font-size--h1;
      text-transform: $text-transform;
    }
  }
  
  &__list {
    @include list-init;

    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: flex-start;
    
    @media (min-width: $screen_tablet) {
      justify-content: flex-start;
      
    }
    
    @media (min-width: $screen_desktop) {
      flex-basis: 67%;
      
      padding-left: 30px;
    }
  }
  
  &__item {    
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    
    @media (min-width: $screen_tablet) {
      margin-right: 8px;
    }

    .button {
      min-width: 58px;
      min-height: 58px;
      
      font-size: $font-size--h1;
      line-height: normal;
    }

    &--active {
      
      a {
        @include colors($page-active, $text-color);
      }
    }
  }
}