.welcome {
  position: relative;
  overflow: hidden;
  
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  
  background-image: url("../img/photo-background@1x.jpg");
  background-color: #4f5558;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  
  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-background@2x.jpg");
  }
  
  @media (min-width: $screen_tablet) {
    padding-top: 75px;
    padding-bottom: 85px;
  }
  
  &--small {
    padding-bottom: 80px;
    background-position: center;
  }  
  
  &__text-welcome {
    display: block;
    
    @include size(145px,35px);    
    
    margin: 0 auto;
    margin-bottom: 8px;
    
    @media (min-width: $screen_tablet) {
      @include size(190px, 45px);
    }
  }
  
  &__text-to-the-gorgeous {
    display: block;
    @include size(196px, 23px);
    
    margin: 0 auto;
    margin-bottom: 60px;

    @media (min-width: $screen_tablet) {
      @include size(256px, 30px);
    }
  }
  
  &__text-sedona {
    display: block;
    @include size(280px, 48px);

    margin: 0 auto;
    margin-bottom: 65px;
    
    @media (min-width: $screen_tablet) {
      @include size(458px, 78px);  
    } 
    
    &--small {
      @include size(174px, 30px);
      
      margin: 0 auto;
      
      @media (min-width: $screen_tablet) {
        @include size(458px, 78px);
      }      
    }
  }
  
  &__grand-canyon-sucks {
    display: block;
    @include size(197px, 54px);
    
    margin: 0 auto;
    
    @media (min-width: $screen_tablet) {
      @include size(295px, 80px);
    }    
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    @include size(100%, 36px);
    background-image: url("../img/intro-triangle.svg");
    background-size: auto 100%;
    background-position: center bottom;
    
    @media (min-width: $screen_tablet) {
      background-size: 100% 100%;
    }
  }
}