.input {

  display: flex;
  flex-direction: column;

  input {
    @include input;

    ~ label {
      @include label;
    }
    
    &:required ~ label {
      &:after {
        content: " *";
        display: inline;
        color: red;
      }
    }
  }
}

.mobile-show {
  display: block;
  @media (min-width: $screen_tablet) {
    display: none;
  }
}

.mobile-hide {
  display: none;
  @media (min-width: $screen_tablet) {
    display: block;
  }
}  
