.input {

  display: flex;
  flex-direction: column;

  input {
    @include input;

    ~ label {
      @include label;
    }
    
    &:required ~ label {
      &:after {
        content: " *";
        display: inline;
        color: red;
      }
    }
  }
}