@mixin input ($bg-color: $grey--lighter, $text: $text-color) {
  padding: $offset;

  font-weight: bold;
  font-size: $font-size--h2;
  
  @include colors($bg-color, $text);
  
  border: none;
}


@mixin label {
  order: -1;
  margin-bottom: $margin-bottom / 2;
  padding-left: $offset;
  font-size: $font-size;
}
