.review-form {
  
  padding-bottom: 100px;
  
  background-color: $text-color--light;
  
  &__submit {    
    @media (min-width: $screen_tablet) {
      margin: 0 12.5%;
    }
  }
  
  input[type="submit"] {
    width: 100%;
    font-size: $font-size--h1;
  }
}