.sightseeings {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  margin-bottom: $margin-bottom;
  
  @media (min-width: $screen_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-bottom: 0;
    
    padding-left: 15%;
    padding-right: 15%;
  }
  
  @media (min-width: $screen_desktop) {
    padding-left: 0;
    padding-right: 0;
  }
  
  &__item {
    
    &:last-child {
      margin-bottom: 0;
    }
    
    @media (min-width: $screen_tablet) {
      flex-basis: 50%;
      flex-grow: 1;
    }
    
    @media (min-width: $screen_desktop) {
      flex-basis: auto;
      flex-grow: 0;
    }
  }
}