.travelers {
  @include list-init;
  
  &__item {
    display: flex;
    margin-bottom: $margin-bottom * 2;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-number {
    width: $input-min-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 6px;
  }
}