.trip-dates {
  display: flex;
  flex-direction: column;
  
  &__item {

    margin-bottom: $margin-bottom;
    
    @media (min-width: $screen_tablet) { 
      width: 30%;
      
      margin-bottom: 0;
    }    
  }
  
  @media (min-width: $screen_tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}