.checkbox {
      
  input[type="checkbox"] {
    display: none;

    & + label {
      position: relative;
      margin-left: $radio-size;
      padding-left: $radio-size / 4;

      font-size: $font-size--h2;
      font-weight: $headings-weight;
      text-transform: none;
      
      &:before {
        content: "";
        position: absolute;
        left: -($radio-size);

        @include centerV;

        display: block;
        @include size($radio-size, $radio-size);

        border-radius: 5px;
        background-color: $grey--lighter;
        
        @include transition($what: background-color);
      }
      
      &:hover:before {
        background-color: darken($grey--lighter, 5%);
        border-color: darken($grey--lighter, 5%);
      }
      
      &:active:before {
        background-color: darken($grey--lighter, 11%);
        border-color: darken($grey--lighter, 11%);
      }
    }
    
    &:checked {
      &+label {
        &:before {
          background-image: url("../img/check-mark.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 25px 19px;
          
          @media (min-resolution: 1.5dppx) {
            background-image: url("../img/check-mark@2x.png");
          }
        }
        
        &:active:before {
        }
      }
    }
  }
}