.input {

  display: flex;
  flex-direction: column;

  input {
    @include input;

    ~ label {
      @include label;
    }
    
    @include required;
    
    &[type^="date"] {
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
}