$radio-border-size: 15px;
$radio-inner-size: 20px;
$radio-size: $radio-border-size*2 + $radio-inner-size;


.radiobutton {
  
  margin-bottom: $radio-size;

  input[type="radio"] {
    
    display: none;

    & + label {
      position: relative;
      margin-left: $radio-size;
      padding-left: $radio-size / 4;

      font-size: $font-size--h2;
      font-weight: $headings-weight;
      text-transform: none;
      
      &:before {
        content: "";
        position: absolute;
        left: -($radio-size);

        @include centerV;

        display: block;
        @include size($radio-size, $radio-size);
        background-color: $grey--lighter;

        border: $radio-border-size solid $grey--lighter;
        border-radius: 50%;
        
        @include transition;
      }
      
      &:hover:before {
        background-color: darken($grey--lighter, 5%);
        border-color: darken($grey--lighter, 5%);
      }
      
      &:active:before {
        background-color: darken($grey--lighter, 11%);
        border-color: darken($grey--lighter, 11%);
      }
    }
    
    &:checked {
      &+label {
        &:before {
          background-color: $text-color;      
        }
        
        &:active:before {
          background-color: transparentize($text-color, .7);
        }
      }
    }
  }
}