.review-form {
  
  margin-bottom: 100px;
  
  @media (min-width: $screen_desktop) {
    margin-bottom: 65px;
  }
  
  background-color: $text-color--light;
  
  &__submit {
    
    margin: 0 20px;
    
    @media (min-width: $screen_tablet) {
      margin: 0 12.5%;
    }
    
    @media (min-width: $screen_desktop) {
      margin: 0 25%;
    }
  }
  
  input[type="submit"] {
    width: 100%;
    font-size: $font-size--h1;
    border-radius: 0;
  }
}