.review-form-fields {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 20px;
  text-transform: $text-transform;

  border: none;
  border-top: 1px solid $grey--dark;

  @media (min-width: $screen_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 70px;
    padding: 0;
    border-top:  none;
  }

  &--travelers {
    @media (min-width: $screen_tablet) {
      flex-direction: column;
      align-items: stretch;

      & .spinner {
        align-self: center;
      }
    }

    @media (min-width: $screen_desktop) {
      & .spinner {
        align-self: flex-start;
      }
    }
  }

  &--impressions {
    
    @media (min-width: $screen_tablet) {
      
      margin-bottom: 40px;
      
      .review-form-fields__header {
        margin-bottom: 60px;
      }
    }
    
    @media (min-width: $screen_desktop) {
      justify-content: space-around;
    }
  }

  &--sightseeing {
    @media (min-width: $screen_tablet) {
      
      margin-bottom: 20px;
      
      .review-form-fields__header {
        margin-bottom: 50px;
      }
    }
  }

  &--gallery {
    flex-direction: column;
    padding-bottom: 0;
    
    @media (min-width: $screen_tablet) {
      flex-direction: column;
      margin-bottom: 0;

      .review-form-fields__header {
        margin-bottom: 60px;
      }
    }
  }

  &__header {
    position: relative;
    
    width: 100%;
    margin-bottom: 30px;
    
    text-align: center;
    
    h2 {
      margin: 0;
      padding: 0;
      
      font-size: $font-size--h2;
      font-weight: $headings-weight;
      line-height: $headings-line-height;

      text-align: center;

      @media (min-width: $screen_tablet) {
        position: relative;
        z-index: 2;

        display: inline-block;
        vertical-align: top;

        width: 400px;
        text-align: center;

        padding: 0 40px;

        background-color: $light;
      }
    }
    
    &:before {
      
      @media (min-width: $screen_tablet) {
        content: "";
        
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        @include translateY(-50%);

        display: block;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid $grey--dark;        
      }
    }
  }
}
