.blog-navigation {
  
  display: flex;
  flex-wrap: wrap;
  
  padding: 45px 20px;
  
  border-top: 2px solid $borders;
  border-bottom: 2px solid $borders;
  
  background-color: $text-color--light;
  
  @media (min-width: $screen_tablet) {
    justify-content: space-between;
    padding: 0;
    border: none;
  }
  
  &__back {
    flex-grow: 1;
    
    margin-right: $gutter_px;
    
    @media (min-width: $screen_tablet) {
      flex-basis: 210px;
      flex-grow: 0;
      
      margin-right: 0;
    }
  }
  
  &__next {
    flex-grow: 1;
    
    @media (min-width: $screen_tablet) {
      flex-basis: 210px;
      flex-grow: 0;
    }
  }
  
  &__content {
    order: 3;
    
    margin-top: $gutter_px;
    
    width: 100%;
    
    @media (min-width: $screen_tablet) {
      flex-grow: 0;
      flex-basis: 210px;
      order: 0;
      
      width: auto;
      margin-top: 0;
      margin-right: $gutter_px;
      margin-left: $gutter_px;
    }
  }
}