$blog-meta-icon-size: 11px;

.posts {
  padding: 0 20px;
  
  border-bottom: 2px solid $borders;
  
  &__item {
    border-top: 2px solid $borders;
  }
}

.post {
  padding: 40px 0;
  
  text-align: center;
    
  &__header {
    a {
      display: block;
      
      color: $text-color;
      text-decoration: none;
    }
    
    h1 {
      margin: 0;
      padding: 0;
      
      font-size: 2.4rem;
      line-height: 3.5rem;
      text-transform: $text-transform;
      text-align: center;
      
      @media (min-width: $screen_tablet) {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
    
    h2 {
      margin: 0;      
      padding: 0;
      
      font-size: $font-size--h1;
      text-transform: $text-transform;
      line-height: $headings-line-height;
    }
  }
    
  &__content {
    
    p {
      margin: 30px 0;
      padding: 0;
      
      font-size: $font-size;
      text-transform: $text-transform;
      line-height: $line-height;      
    }
  }

  &__meta {
    font-size: $font-size;
    line-height: 1;
    text-transform: $text-transform;
    text-align: left;
    font-style: italic;
    
    a {
      padding-left: $blog-meta-icon-size + 10;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      
      color: $text-meta;
      text-decoration: none;
    }
    
    &--single {
      margin-bottom: 40px;
      
      @media (min-width: $screen_tablet) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        
        margin: 0;
        padding: 0 20px;
        
        background-color: $text-color--light;
        
      }
    }
  }
  
  &__date {
    position: relative;
        
    &:before {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      @include centerV;

      display: block;
      @include size($blog-meta-icon-size, $blog-meta-icon-size);

      background-image: url("../img/blog-calendar.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  
  &__category {
    position: relative;
    
    &:before {
      content: "";
      
      position: absolute;
      left: 0;
      top: 0;
      @include centerV;
      
      display: block;
      @include size($blog-meta-icon-size, $blog-meta-icon-size);
      
      background-image: url("../img/blog-flag.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.post-single {
  margin-bottom: 40px;
  
  background-color: $text-color--light;
  
  @media (min-width: $screen_tablet) {
    position: relative;
    margin-bottom: 55px;
    padding-top: 60px;
    
    border-top: 2px solid $borders;
  }
  
  h2 {
    margin-top: 50px;
    margin-bottom: 35px;

    font-size: $font-size-giant;
    line-height: $headings-line-height;
    text-align: left;
    text-transform: $text-transform;
  }

  p {
    margin: 30px 0;
    padding: 0;

    font-size: $font-size;
    line-height: 1.8;
    text-align: left;
    text-transform: $text-transform;
  }
  
  .post__preview {
    font-size: $font-size--h2;
    line-height: $headings-line-height;
    text-align: center;

    color: $brown;
    text-transform: none;
    
    @media (min-width: $screen_tablet) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}