.button {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  padding: 10px 15px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 700;
  line-height: $line-height;
  
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  
  @include colors($grey--light, $text-color);
  
  border: none;
  outline: none;
  cursor: pointer;
  @include transition;
  
  &--blue {
    @include colors($blue, $text-color--light)
  }
  
  &--grey {
    @include colors($grey--dark, $text-color--light);
  }
  
  &--light-grey {
    @include colors($grey--lighter, $grey);
  }
  
  &--minus {
    background-image: url("../img/minus.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &--plus {
    background-image: url("../img/plus.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}