$gallery-item-size: 70px;
$gallery-delete-btn-size: $gallery-item-size / 2 - 5px;

.gallery {

  &__list {
    @include list-init;
    font-size: 0;
  }
  
  &__item {
    display: inline-block;
    position: relative;

    width: $gallery-item-size;
    
    margin-right: $gallery-item-size / 2;
    margin-bottom: $gallery-item-size / 2;
    
    font-size: $font-size;
    
    p {
      margin-bottom: 0;
    }
    
    @media (min-width: $screen_tablet) {
      width: $gallery-item-size * 2;
      
      margin-right: $gallery-item-size;
      margin-bottom: $gallery-item-size;
    }
  }
  
  &__photo {
    position: relative;
    overflow: hidden;
    
    display: block;
    
    @include size($gallery-item-size, $gallery-item-size);

    @media (min-width: $screen_tablet) {
      @include size($gallery-item-size*2, $gallery-item-size*2);
    }
    
    img {
      position: absolute;
      @include centerHV;
      
      display: block;
      width: auto;
      height: 100%;
      
    }
  }
  
  &__remove-item-link {
    position: absolute;
    left: 50%;
    top: 0;
    @include translateXY(-50%, -50%);
    overflow: hidden;
    
    display: block;
    @include size($gallery-delete-btn-size, $gallery-delete-btn-size);
    
    border-radius: 50%;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      
      display: block;
      
      @include size(100%,100%);
      background-image: url("../img/icon-delete.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
      
      opacity: .3;
      
      @media (min-width: $screen_tablet) {
        background-size: 24px;
      }
    }
    
    &:hover {
      &:after {
        opacity: .5;
      }
    }
    
    &:active {
      &:after {
        opacity: .1;
      }
    }
    
    @media (min-width: $screen_tablet) {      
      top: 0;
      right: 0;
      
      @include translateXY(50%, -50%);
      
      @include size($gallery-delete-btn-size*2, $gallery-delete-btn-size*2);
    }
  }
}