.hotel-search {
  padding: 30px 20px;
  
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  text-align: center;
  
  background-color: $text-color--light;
  
  &__header {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: $font-size--h1;
    
    @media (min-width: $screen_tablet) {
      font-size: $font-size-giant;
    }
  }
  
  &__text {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .button--blue {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $font-size--h1;
  }
  
//  @media (min-width: $screen_tablet) {
//    padding: 60px 155px;
//  }
    @media (min-width: $screen_tablet) {
      margin: 0 12.5%;
    }
    
    @media (min-width: $screen_desktop) {
      margin: 0 25%;
    }
}