.hotel-search {
  padding: 30px 20px;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  text-align: center;
  
  &__header {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: $font-size--h1;
    
    @media (min-width: $screen_tablet) {
      font-size: $font-size-giant;
    }
  }
  
  &__text {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .button--blue {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $font-size--h1;
  }
  
  @media (min-width: $screen_tablet) {
    padding: 60px 155px;
  }
}