.page-footer {
  display: flex;
  flex-direction: column;
  
  &__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 30px 20px;
  }
  
  &__social {
    padding: 30px 20px;
    text-align: center;
  }
  
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    padding: 30px 20px;
    text-align: center;
  }
  
  @media (min-width: $screen_tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}