.page-footer {
  
  &__hashtag {
    padding: 30px 20px;
    text-align: center;
  }
  
  &__social {
    padding: 30px 20px;
    text-align: center;
  }
  
  &__copyright {
    padding: 30px 20px;
    text-align: center;
  }
}