.review-form-fields {  
  position: relative;

  display: flex;
  flex-direction: column;
  
  padding: 20px;
  text-transform: $text-transform;

  border: none;
  border-top: 1px solid $grey--dark;
  
  @media (min-width: $screen_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 45px 0 80px;
  }
  
  &--travelers {
    @media (min-width: $screen_tablet) {
      flex-direction: column;
    }
  }
  
  &__header {
    margin-bottom: 30px;

    font-size: $font-size--h2;
    font-weight: $headings-weight;

    text-align: center;
    
    @media (min-width: $screen_tablet) {
      position: absolute;
      top: 0;
      left: 50%;
      @include translateXY(-50%, -50%);
      
      width: 400px;
            
      background-color: $light;
    }
  }
}