.social-links {
  @include list-init;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
        
    .button {
      font-size: $font-size--h2;
    }
  }
}