.welcome {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  
  &--small {
    padding-bottom: 80px;
  }
  
  background-image: url("../img/welcome__bg.jpg");
  background-position: center;
  background-size: cover;
  
  &__to-the-gorgeous {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  
  &__sedona {
    display: block;
    width: 280px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 65px;
    
    &--small {
      margin: 0 auto;
      width: 174px;
      height: 30px;
    }
  }
  
  &__grand-canyon-sucks {
    display: block;
    margin: 0 auto;
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    @include size(100%, 36px);
    background-image: url("../img/welcome__bottom-mask.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}